
<h2>{{task.title}}</h2>
<p>{{task.description}}</p>
<form action="/tasks/{{task.id}}/delete" method="POST">
    <input type="submit" value="Delete task">
</form>

<input type="button" value="Delete task with client script" id="b1">

<script type="application/ecmascript">
    const btn = document.querySelector("#b1")
    btn.onclick = handleClick

    async function handleClick() {
        const taskId = location.pathname
        
        const url = `/api${location.pathname}`
        const options = {
            method: 'DELETE',
            headers: {
                'Authorization': 'Bearer {{token}}'
            }
        
        }
        const response = await fetch(url, options)
        if(response.ok) {
            location = '/tasks'
        }
    }
    

</script>
