<h2>Create a new Task</h2>
<form action="/tasks" method="POST">
    <p>Task name: <input type="text" name="title"></p>
    <p>
    Task description: <textarea name="description">
    </textarea>
    </p>
    <input type="submit" value="Create Task">
</form>